.contenedor {
    width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
/* Estilos generales del header */
.header {
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 1240px;
    
}
.logo:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    cursor: pointer;
}
nav {
    margin: 10px 0;
}
li {
    display: inline;
    margin-right: 15px;
}
li:hover {
    text-decoration: underline;
}


/* Estilos para el bot贸n de inicio de sesi贸n */
.btnLogin{
    background-color: #2F80ED; 
    border: none;
    color: white;
    padding: 10px 18px;
    gap: 10px;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.btnLogin:hover {
    background-color: #1c5bbf;
}
/* Estilos para el bot贸n de registro */
.btnReg{
    background-color: white;
    border: none;
    color:#2F80ED ;
    padding: 10px 18px;
    gap: 10px;
    border-radius: 6px;
    border: #2F80ED 1px solid;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.btnReg:hover {
    background-color: #e6f0ff;
}


/* Estilos para la primera secci贸n */
.divsec1{
    background-image: url(./fotofondosect1.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 1240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}
.h2sec1{
    width: 700px;
    text-align: center;
}
.psec1{
    width: 400px;
    text-align: center;
    margin-bottom: 40px;
}
.divsec1 h1{
    font-size: 32px;
    margin-bottom: 20px;
}
.divsec1 p{
    margin-bottom: 30px;
}

/* Estilos del filtro*/
.filtrosect1{
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    height: 64px;
    width: 1030px;
    align-items: center;
    position: absolute;
    bottom: -25px;
    box-shadow: 0px 2px  #00000026  ;

}
.filtro1{
    background-color: #F2F2F2;
    width: 260px;
    height: 43px;
    border-radius: 4px;
    display: flex;          
    align-items: center;    
    padding-left: 10px;
}
.filtro1 p {
    display: flex;
    align-items: center;   
    gap: 6px;              
    margin: 0;
}
.filtro2{
    background-color: #F2F2F2;
    width: 170px;
    height: 43px;
    border-radius: 4px;
    align-content: center;
}
.filtro2 p {
    display: flex;
    align-items: center;   
    gap: 6px;              
    margin: 0;
}
.filtro3{
    background-color: #F2F2F2;
    width: 170px;
    height: 43px;
    border-radius: 4px;
    align-content: center;
}
.filtro3 p {
    display: flex;
    align-items: center;   
    gap: 6px;              
    margin: 0;
}
.filtro4{
    background-color: #F2F2F2;
    width: 210px;
    height: 43px;
    border-radius: 4px;
    align-content: center;
}
.filtro4 p {
    display: flex;
    align-items: center;   
    gap: 6px;              
    margin: 0;
}
.btnSearch{
    background-color: #2F80ED; 
    width: 148px;
    height: 44px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
    color: white;
}
.btnSearch:hover {
    background-color: #1c5bbf;
}

/*Notificacion*/
.notificacion{
    margin-top: 80px;
    background-color: #FCEFCA;
    width: 1240px;
    height: 72px;
    align-content: center;
    border-radius: 8px;
}
.notificacion p {
    margin-left: 10px;
    display: flex;
    align-items: center;   
    gap: 6px;              
    
}

/*Seccion2*/
.fotosSect2{
    display: flex;
    justify-content: space-around;
}
.imgsect2{
    width: 295px;
    height: 220px;
    border-radius: 8px;
}

/*Seccion3*/
.cardsect3{
    display: flex;
    justify-content: space-around;
}
.card1{
    background-image: url(./assetshome/sydney.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    width: 400px;
    height: 280px;
    border-radius: 8px;
    
}
.card2{
    background-image: url(./assetshome/restaurant.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    width: 400px;
    height: 280px;
    border-radius: 8px;
    
}
.card3{
    background-image: url(./assetshome/montains.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    width: 400px;
    height: 280px;
    border-radius: 8px;
    
}
.cardsect4{
    display: flex;
    justify-content: space-around;
}
.textoCard{
    color: white;
    position: absolute;
    bottom: 0px;
    left: 20px;
    right: 20px;
}
.imgsect4{
    width: 295px;
    height: 300px;
    border-radius: 8px;
}
.imgsect5 {
    width: 1240px;
    height: 280px;
    border-radius: 8px;
    position: relative;
    overflow: hidden; 
}
.imgsect5::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(./assetshome/aerialBeach.jpg);
    background-size: cover;
    background-position: center;

    transform: scaleX(-1);
    z-index: -1;
}
.textoSect5{
    width: 580px;
    height: 152px;
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.h2sect5{
    color: white;
}
.imgmovil{
    z-index: 1;
    position: absolute;
    bottom: -200px;
    left: 350px;
    width: 828.64px;
    height: 684.31px;
    transform: rotate(-15deg);
}