/*Estilos conenedor SignIn*/

main  {
    margin-top: 50px;
    margin-bottom: 50px;
}
.contenedor {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 401px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos generales del formulario */
form {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0px;

}
label {
    margin-bottom: 0px;
    font-size: 14px;
}
input {
    padding: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: #F2F2F2;
}
.AlLado {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}
.azul a {
    color: #2F80ED;
    text-decoration: none;
}
.colorclaro {
    color: #BDBDBD;
}

/* Estilos boton continuar Login */
.btnLogin{
    background-color: #2F80ED; 
    border: none;
    color: white;
    padding: 10px 18px;
    gap: 10px;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.btnLogin:hover {
    background-color: #1c5bbf;
}

/*Linea de separacion*/
.linea {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 10px;
}
.linea1 {
    flex-grow: 1;
    height: 1px;
    background-color: #BDBDBD;
}
/* Estilos boton continuar con Google */
.google{
    background-color: white; 
    border: #E0E0E0 1px solid;
    padding: 0px 18px;
    gap: 10px;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.logo{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 8px;
}
/* Estilos boton continuar con Facebook */
.facebook{
    background-color: #475993; 
    border: none;
    color: white;
    padding: 0px 18px;
    gap: 10px;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.textoRegister{
    display: flex;
    align-items:center ;
    justify-content: center;
}
#register{
    color: #2F80ED;
}

.cuadradoNaranja{
    background-color: #FEE2654D;
    border-radius: 20px;
    width: 280px;
    height: 250px;
    display: flex;
    align-self: center;
}
.centrado{
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}
#inbox{
    width: 200px;
    height: 200px;
}
