.contenedor {
    width: 1440px;
    height: 1739px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #F4F4F4;
    position: relative;
}

/* Estilos generales del header */
.header {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 1440px;
    background-color: white;    
}
.logo:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    cursor: pointer;
}
nav {
    margin: 10px 0;
}
li {
    display: inline;
    margin-right: 15px;
}
li:hover {
    text-decoration: underline;
}


/* Estilos para el botón de inicio de sesión */
.btnLogin{
    background-color: #2F80ED; 
    border: none;
    color: white;
    padding: 10px 18px;
    gap: 10px;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.btnLogin:hover {
    background-color: #1c5bbf;
}
/* Estilos para el botón de registro */
.btnReg{
    background-color: white;
    border: none;
    color:#2F80ED ;
    padding: 10px 18px;
    gap: 10px;
    border-radius: 6px;
    border: #2F80ED 1px solid;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.btnReg:hover {
    background-color: #e6f0ff;
}

/* Estilos de los detalles del sect 1*/

.sect1{
    position: absolute;
    top: 128px;
    left: 0;
     display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.sect1 h2{
    width: 1030px;    
    text-align: left; 
}
.detalles{
    width: 1030px;
    height: 240px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);    
}
.imgYnombre{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}
.textos{
    margin-left: 20px;
}
.imgcasa{
    width: 285px;
    height: 200px;
    border-radius: 5px;
}
.estrellas{
    display: flex;
    align-items: center;
}
.textoRojo{
    color: red;
    
}
.precio{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    margin-right: 20px;
    
}
.precio p{
    margin: 2px 0;
}
.precioactual{
    font-size: 20px;
    font-weight: bold;
}

/* Estilos seccion2*/
.seccion2{
    position: absolute;
    top: 788px;
    left: 100px;
}
.fotosSect2{
    display: flex;
    flex-direction: row;
    width: 1240px;
    justify-content: space-between;
}
.imgsect2{
    width: 295px;
    height: 300px;
    border-radius: 8px;
}
.notificacion{
    position: absolute;
    top: 1269px;
    left: 100px;
    margin-top: 80px;
    background-color: #FCEFCA;
    width: 1240px;
    height: 72px;
    align-content: center;
    border-radius: 8px;
}
.footer{
    position: absolute;
    top: 1421px;
    left: 0;
    width: 1440px;
    height: 318px;
    display: flex;
    justify-content: space-around;
    
}
.footer .fot h3 {
    margin-bottom: 10px;
}

.footer .fot ul {
    padding-left: 0;
}
.fot {
    text-align: left;
}

.fot ul li {
    margin-bottom: 10px;
    list-style: none;
    display: block;
}

.textoAzul{
    color: #2F80ED;
}