body {
  font-family: -apple-system, BlinkMacSystemFont,
               "SF Pro Display", "SF Pro Text",
               "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.contenedor {
    width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.header {
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 10px;
    width: 1440px;
    height: 200px;
    background-color:#2969BF ;
    
}
.navHeader {
    margin: 10px 0;
}
.liheader {
    display: inline;
    margin-right: 15px;
    color: white;
}
.liheader:hover {
    text-decoration: underline;
}

.logo:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    cursor: pointer;
}