.contenedor {
    width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
/* Estilos generales del header */
.header {
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1240px;
    margin: 0 auto;
}
.logo:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    cursor: pointer;
}
nav {
    margin: 10px 0;
}
li {
    display: inline;
    margin-right: 15px;
}
li:hover {
    text-decoration: underline;
}


/* Estilos para el botón de inicio de sesión */
.btnLogin{
    background-color: #2F80ED; 
    border: none;
    color: white;
    padding: 10px 18px;
    gap: 10px;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.btnLogin:hover {
    background-color: #1c5bbf;
}
/* Estilos para el botón de registro */
.btnReg{
    background-color: white;
    border: none;
    color:#2F80ED ;
    padding: 10px 18px;
    gap: 10px;
    border-radius: 6px;
    border: #2F80ED 1px solid;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.btnReg:hover {
    background-color: #e6f0ff;
}


.divsect1 {
    width: 1440px;
    height: 500px;
    display: flex;
    flex-direction: row;
    gap: 20px; 
    justify-content: center;
}


.divImgPrincipal {
    width: 820px;
    height: 452px;
    border-radius: 5px;
    overflow: hidden;
}

.imgPrincipal {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 5px;
}

/* Contenedor de secundarias */
.divImgSecundarias {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 452px;
}

/* Cada secundaria */
.secundaria1, .secundaria2 {
    width: 400px;
    height: 218px;
    overflow: hidden;
    border-radius: 5px;
}

.imgSecundaria {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 5px;
}

/*pequeño Layout*/
.pequenoLayout{
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* separación máxima entre elementos */
    width: 331px;
    height: 42px;
}
.bloque{
    border-bottom: 1px solid black;
    margin: 2px;
    padding: 4px 8px;        /* para que se adapte a la letra con espacio interno */
    width: fit-content;      /* se ajusta al tamaño del texto */
    height: fit-content;
}



